@import '../../../sass/vars'

.linkButton
    padding: 8px
    border-radius: 15px
    box-sizing: border-box
    transition: .3s
    a
        color: $fg
        text-decoration: none
    &:hover
        transition: .3s
        background: $fade
