@import '../../../sass/vars'

.fullButton
    background: $highlight
    color: $bg
    padding: 8px 15px
    outline: none
    border: none
    font-weight: 800
    border-radius: 8px

.outlineButton
    border: 2px solid $highlight
    background: $bg
    color: $highlight
    padding: 8px 15px
    font-weight: 800
    border-radius: 8px
